<div class="tabs is-centered">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/tests">Test me</a></li>
  <li class="is-active"><a href="/user/account">Account</a></li>
</ul>
</div>
<div class="container">
	<div class="columns">
		<div class="column is-half is-offset-one-quarter">
			<ul>
				<li>ID: {{ user.cookieid }}</li>
				<li>Name: {{ user.name }}</li>
				<li>Email: {{ user.email }}</li>
			</ul>
			<br />
			<table class="table">
			  <thead>
			    <tr>
			      <th>Date</th>
			      <th>Level</th>
			    </tr>
			  </thead>
			  <tbody>
				  {{#each tiles}}
				  	<tr>
				  	  <td>{{{this.created_at}}}</td>
				  	  <td>{{{this.data.level}}}</td>
				  	 </tr>
		
	
			
				  {{/each}}			  
			  </tbody>
			</table>
		</div>
	</div>
</div>
